{
  "sourceMaps": "inline",
  "presets": ["env", "flow"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "src": "./src"
      }
    }],
    ["flow-runtime", {
      "assert": true,
      "annotate": true
    }]
  ]
}